[build]
builder = "dockerfile"
dockerfilePath = "apps/web/Dockerfile"

[build.args]
NEXT_PUBLIC_API_URL = "${{ NEXT_PUBLIC_API_URL }}"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
